<% if params[:fundraiser_id] %>
  <div class="center" id="sign_up_top_message">
    <h2>You're Almost Done</h2>
    <p>Create an Account or
    <%= link_to "Log in", login_path(fundraiser_id: params[:fundraiser_id]) %>
    to be taken to your fundraiser page.</p>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, fundraiser_id: params[:fundraiser_id])) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign Up", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

