<div class="email_section">
  <div>
    Dear <%= @donation.user_display_name %>,
  </div>

  <br />
  <div>
    Hope you are doing well.
    This email is to give you a quick update on the Kotak Salesian School fundraiser.
    Together we were able to successfully raise $5,207 towards our goal of $4,350.
    On November 12th, a check in the amount of INR 2,80,000 which is equivalent to $4,350 USD was given to the school management.
    Father Anil Bosco was extremely happy and sends his thanks.
  </div>

  <br />
  <div>
    Next Step:
  </div>

  <br />
  <div>
    Because of your efforts, we have a surplus amount of $857.
    In the near future we will collect your suggestions on how we can further help the school and how to use this amount for the school.
    We will keep you posted on the developments.
  </div>

  <br />
  <div>
    With gratitude, <br />
    Alumni Students <br />
    email: kotakalumni@gmail.com
  </div>

  <br />
  <div class="">
    <%= link_to 'Kotak Salesian School Fundraiser Page', fundraiser_url(@donation.fundraiser) %>
  </div>
</div>
