<div class="email_section">

  <div>
    Dear <%= @donation.user_display_name %>,
  </div>

  <div>
    Thank you for supporting <%= @donation.fundraiser.name %>
  </div>

  <br />
  <div class="donation_summary">
    Your Donation Summary:<br />
    ----------------------<br />
    <%= @donation.currency.upcase %> <%= @donation.amount %> Donation Amount <br />
  </div>

  <br>
  <div class="">
    You make good things possible.
  </div>

  <br />
  <div>
    With gratitude, <br />
    Fundraiser Organizer <br />
  </div>

  <br />
  <div>
    Thanks again for your support!
  </div>

</div>
