<div class="email_section">
  <div>
    Dear <%= @donation.user_display_name %>,
  </div>

  <br />
  <div>
    Thank you for supporting Kotak Salesian School’s initiative to install a clean drinking water system.
  </div>

  <br />
  <div>
    Because of you, good things are possible and we were able to meet the goal.
  </div>

  <br />
  <div>
    <b>We are incredibly proud of you!</b>
  </div>

  <br />
  <div class="donation_summary">
    Your Donation Summary:<br />
    ----------------------<br />
    Donation Amount: <%= @donation.currency.upcase %> <%= @donation.amount %><br />
  </div>

  <br />
  <div>
    In the next few days, we will be sending the collected money to the school. We will keep you posted on the developments.
  </div>

  <br />
  <div>
    Please continue to share this fundraiser with other friends as we will continue to accept donations to assist the school in other mentioned initiatives.
  </div>

  <br />
  <div>
    We are so fortunate to have your support. We will be in touch in the near future to inform you of the plans to contribute more regularly as an Alumni Group.
  </div>

  <br />
  <div>
    With gratitude, <br />
    Alumni Students <br />
    email: kotakalumni@gmail.com
  </div>

  <br />
  <div class="">
    <%= link_to 'Kotak Salesian School Fundraiser Page', fundraiser_url(@donation.fundraiser) %>
  </div>
</div>
