<div class="email_section">
  <div>
    Hi <%= @donation.fundraiser.user.full_name %>,
  </div>

  <br />
  <div>
    A new donation was made
  </div>

  <br />
  <div class="donation_summary">
    Donation Summary:<br />
    ----------------------<br />
    Donor Name: <%= @donation.user_display_name %><br />
    Donation Amount: <%= @donation.currency.upcase %> <%= @donation.amount %>
  </div>
</div>
