<div class="panel panel-default panel_custom">
  <div class="panel-body">
    <div id="created_by">
      Created by <strong><%= @fundraiser.user_full_name %></strong>
      <br />
      on: <%= @fundraiser.created_at.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>
