<div id="fundraiser_donations_list">
  <div class="panel panel-default panel_custom">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @fundraiser.valid_donations.count %> Donations</h3>
    </div>
    <table class="table">
      <tbody>
        <% @fundraiser.valid_donations.each do |donation| %>
          <tr id="donation_detail_<%= donation.id %>">
            <td>
              <span class="donation_amount">
                <%= display_donation_amount(donation) %>
              </span>
              <%= donation_amount_in_usd(donation) %>

              <div class='donor-name'>
                <%= display_donation_name(donation) %>
              </div>

              <div class='donor-comment'>
                <%= display_donation_comment(donation) %>
              </div>

              <div class='donor-time'>
                <%= time_ago_in_words(donation.created_at) %> ago
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
