<%= simple_form_for(@fundraiser) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :summary, input_html: { rows: 5 } %>
    <%= f.input :goal %>

    <%= f.attachment_field :image, direct: true, presigned: true %><br />

    <% if @fundraiser.image_id %>
      <%= image_tag attachment_url(@fundraiser, :image, :fill, 100, 100) %>
      <%= f.check_box :remove_image %>
      <%= f.label :remove_image %>
    <% end %>
  </div>

  <br />

  <div class="form-actions">
    <% button_text = @fundraiser.new_record? ? "Start Fundraiser" : "Update Fundraiser" %>
    <%= f.button :submit, button_text, class: "btn btn-success" %>
  </div>
<% end %>
