<div class="panel panel-default panel_custom">
  <div class="panel-heading">
    Location, US
  </div>
  <div class="panel-body">
    <div id="fundraiser_stats">
      <span id="amount_collected">
        <%= number_to_currency(@fundraiser.amount_collected, precision: 0) %>
      </span>
      <span id="amount_goal">
        of <%= number_to_currency(@fundraiser.goal.round, precision: 0) %>
      </span>
      <div id="raised_by">
        Raised by <%= @fundraiser.valid_donations.count %> people
      </div>

      <br />
      <% if @fundraiser.active? %>
        <%= link_to "Make A Donation", new_charge_path(fundraiser_id: get_id(params[:id])), class: "btn btn-primary btn-block btn-lg fundraiser_donation_btn" %>
      <% else %>
        <%= link_to "Not Accepting Donations", '', class: 'btn btn-primary btn-block btn-lg disabled' %>
      <% end %>
      <br />

      Please share on: <div class="addthis_sharing_toolbox"></div>

    </div>
  </div>
</div>
