<div class="row">
  <div class="col-md-6 col-md-offset-3">

<h1>Editing Fundraiser</h1>

<%= render 'form' %>

<%= link_to 'Show', @fundraiser %> |
<%= link_to 'Back', fundraisers_path %>

  </div>
</div>
