<% provide(:title, "Fundraisers") %>

<p id="notice"><%= notice %></p>

<%= link_to 'Start A Fundraiser', new_fundraiser_path, class: "btn btn-success btn-lg" %>

<% if @fundraisers.present? %>
  <h1>Current Fundraisers</h1>

  <div class="row">

    <% @fundraisers.each do |fundraiser| %>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(attachment_url(fundraiser, :image, :fill, 200, 200)), fundraiser_path(fundraiser) %>
          <div class="caption">
            <h4><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></h4>
            <p>Raised: <%= number_to_currency(fundraiser.amount_collected, precision: 0) %>
            of <%= number_to_currency(fundraiser.goal, precision: 0) %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
<% else %>
  <p>No active fundraisers</p>
<% end %>

<% if @fundraisers_inactive.present? %>
  <h1>Past Fundraisers</h1>

  <div class="row">

    <% @fundraisers_inactive.each do |fundraiser| %>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(attachment_url(fundraiser, :image, :fill, 200, 200)), fundraiser_path(fundraiser) %>
          <div class="caption">
            <h4><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></h4>
            <p>Raised: <%= number_to_currency(fundraiser.amount_collected, precision: 0) %>
            of <%= number_to_currency(fundraiser.goal, precision: 0) %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
<% end %>
