<% provide(:title, @fundraiser.name) %>

<br />

<div class="well fundraiser_well">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <% if can? :update, @fundraiser %>
        <%= link_to 'Edit Fundraiser', edit_fundraiser_path(@fundraiser), class: "btn btn-success btn-xs pull-right" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <% if can? :update, @fundraiser %>
        <br />
        <%= link_to 'Post Update', new_post_path(fundraiser_id: @fundraiser.id), class: "btn btn-success btn-xs pull-right" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div id="fundraiser_show_name">
        <%= @fundraiser.name %>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div id="fundraiser_image">
        <div id="fundraiser_main_image">
          <div class="panel panel-default panel_custom">
            <div class="panel-body">
              <%= image_tag attachment_url(@fundraiser, :image, :fill, 700, 500) %>
            </div>
          </div>
        </div>

        <div id="fundraiser_content">
          <div id="fundraiser_summary">
            <div class="panel panel-default panel_custom">
              <div class="panel-body">
                <%= show_line_breaks @fundraiser.summary %>
              </div>
            </div>
          </div>
        </div>

        <div class='visible-xs'>
          <%= render 'make_donation' %>
          <%= render 'created_by' %>
        </div>

        <br />
        <%= render @fundraiser.posts %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4" id="right_side">
      <%= render 'make_donation' %>
      <%= render 'created_by' %>
      <%= render 'donations_list' %>
    </div>
  </div>

  <br />
  <h2>Comments</h2>
  <hr>

  <%= content_tag :div, '',
    class: "fb-comments",
    "data-href" => request.original_url,
    "data-numposts" => "5",
    "data-colorscheme" => "light" %>

</div>
