<div class="row">
  <div class="col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4">

    <h2>Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
