<div class="container">
  <div class="carousel-caption">
    <h2>Give to people who need your help.</h2>
    <p><%#= link_to "DONATE NOW", new_donation_path, class: "btn btn-lg btn-primary", id: "home_carousel_donate_btn", role: "button" %></p>
  </div>
</div>
