<% provide(:title, "Contact Us") %>

<div class="well custom_well">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h5>
        We are working on this page. Please send us an email: support@aidacause.org
      </h5>
    </div>
  </div>
</div>
