<% provide(:title, "Home") %>

<div id="home_carousal_section" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home_carousal_section" data-slide-to="0" class="active"></li>
    <li data-target="#home_carousal_section" data-slide-to="1" class=""></li>
    <li data-target="#home_carousal_section" data-slide-to="2" class=""></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag asset_path('charity1.jpg') %>
      <%= render "donate_container" %>
    </div>

    <div class="item">
      <%= image_tag asset_path('charity1.jpg') %>
      <%= render "donate_container" %>
    </div>

    <div class="item">
      <%= image_tag asset_path('charity1.jpg') %>
      <%= render "donate_container" %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home_carousal_section" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home_carousal_section" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
