<% provide(:title, "Donate") %>

<h2>Impact Lives. Donate Now.</h2>
<h2>I will donate:</h2>

<%= simple_form_for(@donation, html: { class: 'form-inline' }) do |f| %>
  <%#= f.error_notification %>
  <% if @donation.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>
      <ul>
        <% @donation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :amount %>
  <%= link_to "$ 100.00", "#", class: "btn btn-default donation_buttons", id: :button_100 %>
  <%= link_to "$ 75.00", "#", class: "btn btn-default donation_buttons", id: :button_75 %>
  <%= link_to "$ 50.00", "#", class: "btn btn-default donation_buttons", id: :button_50 %>
  <%= link_to "$ 25.00", "#", class: "btn btn-default donation_buttons", id: :button_25 %>

  <%= f.input :amount_other, input_html: { class: "form-control",
                                      value: "",
                                      placeholder: "$ Other Amount" }, label: "Other" %>

  <p>$10.00 is the minimum online donation.</p>
  <p>All donations are tax deductible.</p>

  <br />
  <%= f.input :recurring,
        input_html: { class: "form-control" },
        inline_label: "Make this a monthly donation." %>

  <br />

  <h2>Contact Information</h2>
  <%= f.simple_fields_for :user do |du| %>
    <%= du.input :first_name, label: "First Name", input_html: { placeholder: "First Name", value: ""} %>
    <%= du.input :last_name, label: "Last Name", input_html: { placeholder: "Last Name", value: ""} %>
    <%= du.input :email, label: "Email Address", input_html: { placeholder: "Email Address", value: ""} %>
  <% end %>
  <br />
  <%= f.submit "Donate", class: "btn btn-primary" %>
<% end %>
