<div class="center" id="login_top_message">
  <h2>Log in to AidACause</h2>
  <p>If you don't have an account yet, you should
  <%= link_to "create one", signup_path(fundraiser_id: params[:fundraiser_id]) %>.
  </p>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name, fundraiser_id: params[:fundraiser_id])) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

