<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fundraiser_id, :as => :hidden, :input_html => { :value => "#{params[:fundraiser_id]}" } %>
    <%= f.input :body %>
    <%= f.attachment_field :image, direct: true, presigned: true %><br />

    <% if @post.image_id %>
      <%= image_tag attachment_url(@post, :image, :fill, 100, 100) %>
      <%= f.check_box :remove_image %>
      <%= f.label :remove_image %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Post Update' %>
  </div>
<% end %>
