<div class="panel panel-default panel_custom" id="fr_update_<%= post.id %>">
  <div class="panel-heading">
    Update
    <div class="post_created_at">
      <%= time_ago_in_words(post.created_at).upcase %> AGO
    </div>
  </div>
  <div class="panel-body">
    <%= post.body %>

    <% if post.image_id %>
      <br />
      <br />
      <%= image_tag attachment_url(post, :image, :fill, 700, 500) %>
    <% end %>
  </div>
</div>
