@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

$body_bg_color: #F8FCFD;
$fundraiser_donation_btn_bg: #FD3737;
$panel_header_bg: #CEFBE5;
$panel_header_bg: #FD3737;
$panel_header_bg: #B1FBCA;
// $navbar_link_color: #BB19A1;
$navbar_link_hover_color: green;
$donated_amount: #35B335;
$donated_amount_usd: #4835b3;

body {
  padding-top: 60px;
  background-color: $body_bg_color;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

@media (max-width: 767px) {
  .well {
    padding: 0px;
    border: 0px;
  }
}

.navbar {
  background-color: white;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: $fundraiser_donation_btn_bg;
  // color: $navbar_link_color;
  &:hover {
    color: $navbar_link_hover_color;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#home_carousal_section {
  #home_carousel_donate_btn {
    background-color: red;
    margin-top: 20px;
  }

  .carousel-caption {
    text-align: left;
    left: 10%;
  }
}

.donation_buttons {
  // background-color: #f7f7f7;
  border: 3px solid #ccc;
  // color: #6d6e70;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  width: 109px;
  text-align: center;
}

.center {
  text-align: center;
}

#div_card_expiry_yy {
  padding-left: 0px;
}

#fundraiser_show_name {
  font-size: 36px;
  text-align: center;
  color: $fundraiser_donation_btn_bg;
}

#fundraiser_image {
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
  }
}

#fundraiser_main_image {
  .panel_custom {
    border-color: #fff;
  }

  .panel-body {
    padding: 0px;
  }
}

#amount_collected {
  font-size: 32px;
  color: $donated_amount;
}

#amount_goal {
  font-size: 22px;
}

#raised_by {
  font-size: 18px;
}

.panel_custom {
  .panel-heading {
    background-color: $panel_header_bg;
  }
}

.checkbox_div {
  margin-top: 6px;
}

.fundraiser_well {
  border-top: 5px solid $fundraiser_donation_btn_bg;
  background-color: white;
}

.custom_well {
  // border-top: 5px solid #6993F1;
  background-color: white;
  margin-top: 30px;
}

.fundraiser_donation_btn {
  font-size: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $fundraiser_donation_btn_bg;
  border-color: $fundraiser_donation_btn_bg;
  // border-radius: 4px;
  &:hover {
    background-color: $fundraiser_donation_btn_bg;
    border-color: $fundraiser_donation_btn_bg;
  }
}

.top_header_text {
  text-align: center;
  font-size: 30px;
}

.sub_header_text {
  text-align: left;
  font-size: 22px;
  padding-bottom: 10px;
}

.carousel-inner > .item >img, .carousel-inner> .item >a >img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

.donation_amount {
  font-size: 18px;
  color: $donated_amount;
  font-weight: bold;
}

.donation_amount_usd {
  font-size: 16px;
  color: $donated_amount_usd;
  font-weight: bold;
}

.post_created_at {
  float: right;
}

.donor-name {
  color: #ff740b;
}

.donor-comment {

}

.donor-time {
  font-size: 13px;
}
