<hr />
<footer class="text-muted">
  AidACause.org © 2015

  <p class="pull-right">
    <%= link_to "Privacy Policy", page_path('privacy_policy') %> |
    <!-- <%= link_to "Terms of use", page_path('terms_of_use') %> | -->
    <%= link_to "FAQ", page_path('faq') %> |
    <%= link_to "Contact Us", contact_path %> |
    <%= link_to "Back to top", "#" %>
  </p>
</footer>
