<nav class="navbar navbar-default navbar-fixed-top" id='header'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("aac_logo.png", height: "40px", alt: "AidACause Logo"),
            root_path,
            class: "navbar-brand",
            id: "logo" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <!-- <li><%= link_to "Home", root_path %></li> -->
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Fundraisers", fundraisers_path %></li>
        <!-- <li><%= link_to "Contact Us", contact_path %></li> -->

        <% if current_user %>
          <li><a>Logged in as <strong><%= current_user.email %></strong></a></li>
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
