<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"     content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description"  content="<%= meta_description yield(:description) %>">

<meta property="og:url"         content="<%= url_for(only_path: false) %>">
<meta property="og:type"        content="website">
<meta property="og:title"       content="<%= yield(:title) %>">
<!-- <meta property="og:image"       content="<%#= ApplicationHelper::SITE_URL %>/assets/tl1.png"> -->
<meta property="og:description" content="<%= meta_description yield(:description) %>">
