<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/google_analytics_code' %>
  <title><%= yield(:title) %> | Aid A Cause</title>
  <%= render 'layouts/meta_tags' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body data-no-turbolink='true'>
  <%= render "layouts/facebook_sdk_for_javascript" %>
  <%= render "layouts/header" %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <%= render "layouts/flash_message" %>
        <%= yield %>
        <%= render "layouts/footer" %>

      </div>
    </div>
  </div>
  <%= render "layouts/addthis" %>
</body>
</html>
