<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "mailer" %>
    <link href="https://fonts.googleapis.com/css?family=Cousine|Libre+Baskerville" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
